/* font face by Anke Arnold (www.anke-art.de) */
@font-face {
    font-family: 'ParryHotter';
    src: url('fonts/ParryHotter.ttf');
    font-weight: normal;
    font-style: normal;
}

/*----------------------------------------- colour*/
.gryffindor-red {
   border-color: #d11404;
   border-width: 3px;
}

.slytherin-green {
   border-color: #04540c;
   border-width: 3px;
}

.hufflpuff-yellow {
   border-color: #f5cd11;
   border-width: 3px;
}

.ravenclaw-blue {
   border-color: #3078ac;
   border-width: 3px;
}

/*------------------------------------------Global*/
html, body {
   margin: 0;
   padding: 0;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 700;
   color: #fff;
   background-color:#200236;
   height: 100%;
}
.inline-block{
   display: inline-block;
}

a {
   color: #fff;
}

h1 {
   font-size: 40px;  
   font-family: "ParryHotter", sans-serif;
   color: #f5cd11;
}
/*------------------------------------------Header*/
header{
   margin: 0;
   min-height: 50px;
   z-index: 10;
   position: fixed;
   top: 0;
   width: 100vw;
}
.navbar-dark {
   float: right;
   top:0;
   border-width: 0 0 1px;
}

.nav-item {
   font-size: 20px;
   font-weight: 500;
}
.navbar-dark .navbar-nav .nav-link{
   color: #ffffff;
}
button.navbar-toggler{
   float: right;
}

/*------------------------------------------Footer*/
footer {
   margin: 0;
   min-height: 50px;
   z-index: 10;
   position: fixed;
   bottom:0;
   width: 100vw;
}
footer ul {
   width: 100%;
   padding: 0;
   margin: 0;
   margin-top: 10px;
}
.footer ul li {
   list-style: none;
   margin-top: 12px;
   padding: 0;
}
.social-media {
   font-size: 25px;
   font-weight: bold;
   position: relative;
   text-align: center;
}

/*---------------------------------------Home Page*/
.school-crest-container{
   max-height: 100vh;
   max-width: 100vw;
   justify-content: center;
   padding: 5%;
   align-items: center;
   position: absolute;
}

.welcome{
   padding-bottom: 15px;
   text-align: center;
}
.hogwarts-crest{
   text-align: center;
   width: 45%;
   margin: auto;
   display: block;
}
/*---------------------------------------Game Page*/
.house-crest-container{
/*overflow: hidden;*/
   height: 100vh;
   padding: 70px 5px 70px 5px;
}

.right-game-btn{
   border-radius: 5%;
   width: 50%;
   height: 90%;
   top: 25%;
   margin-left: 0;
   margin-right:50%;
   padding: 15px;
   justify-items: left;
   z-index: 2;
   display: block;
   opacity: 0.75;
   transition: all 0.3s ease-in;
}
.left-game-btn{
   border-radius: 5%;
   width: 50%;
   height: 90%;
   top: 25%;
   margin-left: 50%;
   margin-right: 0;
   padding: 15px;
   justify-items: left;
   z-index: 2;
   display: block;
   opacity: 0.75;
   transition: all 0.3s ease-in;
}
.gryffindor{
}
.slytherin{
}
.hufflpuff{
}
.ravenclaw{
}

/*----------------------------------------Help*/

/*---------------------------------------About*/

/*---------------------------------Media Queries*/
@media (max-width:4096px) {
   .navbar-fixed-top {
      top:0;
      border-width: 0 0 1px;
   }
   .navbar-toggle {
      display: block;
   }
}
@media (max-width: 1024px) {
   .school-crest-container{
      padding-top: 25%;
   }
   h1 { 
      padding-bottom: 10%;
   }
   .hogwarts-crest{
      width: 60%;
   }
}
@media (max-width: 768px) {
   .school-crest-container{
      padding-top: 20%;
   }
   h1 {
      padding-bottom: 10%;
   }
   .hogwarts-crest{  
      width: 70%;
   }
}
@media (max-width: 540px) {
   .school-crest-container{
      padding-top: 30%;
   }
   h1 {
      font-size: 34px; 
      padding-bottom: 10%;
   }
   .hogwarts-crest{
      width: 80%;
   }
}